%body
  %header.header
  .notice
  .sidebar
    .sidebar__user
      .sidebar__user__userfield
        .sidebar__user__userfield_username
          = current_user.name
        .sidebar__user__userfield_newgroup
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
        .sidebar__user__userfield_settings
          = link_to edit_user_registration_path do
            %i.fa.fa-cog
    .sidebar__groups
      .sidebar__groups-list
        = render partial: "shared/grouplist" , collection: @groups, as: :group
  .chatwindow
    .chatwindow__head
      .chatwindow__head__edit
        = link_to edit_group_path(@currentgroup) do
          Edit
      .chatwindow__head__group
        .chatwindow__head__group-name
          = @currentgroup.name
        .chatwindow__head__group-members
          - @currentgroup.users.each do |usr|
            = usr.name
    .chatwindow__body.scroll
      .chatwindow__body__fields
        = render partial: "shared/messagelist" ,collection: @messages, as: :message
    .chatwindow__messenger
      .chatwindow__messenger__form
      = form_for [@currentgroup ,@message] , html: { class: 'js-form' } ,remote: true do |f|
        = f.text_field :content, class: "chatwindow__messenger__form__textbox ajax_messageform__content", placeholder: "Type a text"
        %label.chatwindow__messenger__form__imagebox
          = f.file_field :image, class: "chatwindow__messenger__form__imagebox-label ajax_messageform__image"
          %i.fa.fa-file-picture-o
        = f.submit value: "Send", class: "chatwindow__messenger__form__sent"
