%body
  %header.header
  .notice
  .sidebar
    .sidebar__user
      .sidebar__user__userfield
        .sidebar__user__userfield_username
          = current_user.name
        .sidebar__user__userfield_newgroup
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o
        .sidebar__user__userfield_settings
          = link_to edit_user_registration_path do
            %i.fa.fa-cog
    .sidebar__groups
      .sidebar__groups-list
        = render partial: "shared/grouplist" , collection: @groups, as: :group
  .chatwindow
    .chatwindow__head
      .chatwindow__head__edit
        = link_to "/" do
          Edit
      .chatwindow__head__group
        .chatwindow__head__group-name GROUP1
        .chatwindow__head__group-members Member: member1 member2
    .chatwindow__body
      .chatwindow__body__fields
        .chatwindow__body__fields__message
          .chatwindow__body__fields__message-name tester
          .chatwindow__body__fields__message-time 2017/12/05 00:00:00
          .chatwindow__body__fields__message-content
            .chatwindow__body__fields__message_content__text test1
            .chatwindow__body__fields__message_content__image
    .chatwindow__messenger
      .chatwindow__messenger__form
      = form_for "" do |f|
        = f.text_field "", class: "chatwindow__messenger__form__textbox", placeholder: "Type a text"
        %label.chatwindow__messenger__form__imagebox
          = f.file_field "", class: "chatwindow__messenger__form__imagebox-label"
          %i.fa.fa-file-picture-o
        = f.submit value: "Send", class: "chatwindow__messenger__form__sent"

